html {
  width: 100%;
  min-width: 1000px;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  border: solid 5px #006666;
  color: #008080;
  font-family: Arial, sans-serif;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}
.topbannerarea {
  height: 30px;
  background-color: #006666;
}

.horizontalnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 24px;
}

.nav-left {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.promotions {
  height: 60px;
}

.columnns {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.leftcolumn {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto;
}

.rightcolumn {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 600px;
  border: solid black 1px;
}

.content {
}

.content-image {
  width: 190px;
  height: 140px;
}

.content-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #333333;
  background-color: #66ffff;
}

footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #006666;
  font-size: small;
}

.fdr {
  display: flex;
  flex-direction: row;
}
